.adminContainer {
    min-height: calc(100vh - 274px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #e9fdcf;
}

.InfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-bottom: 3rem;
}

.InfoContainer h1{
    font-size: 2.5rem;
    color:#58861d;
}

.InfoContainer p{
    font-size: 1.2rem;
}

.adminContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}