.catalog-content {
    
    min-height: calc(100vh - 163.904px);
}

.catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

@media (max-width: 900px) {
    .catalog-list {
    flex-direction: column;
    align-items: center;
    }
}