footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    color: #FDFAF6;
    padding: 20px;
    text-align: center;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    border-bottom: #3f4b52 solid 1px;
    margin-left: auto;
    margin-right: auto;
}

.Info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
}

.QuickLinks{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    margin-bottom: 20px;
}

.QuickLinks a{
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;;
}

.QuickLinks a:hover{
    color: #84af74;
    transition: color 0.3s ease-in-out;
}

.Contact{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
}

.Copyright{
    height: 40px;
}