.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out
}

.menu a:hover{
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

@media (max-width: 700px) {
    .menu {
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
    }
    .menu a {
    font-size: 1rem;
    }
}