button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    background-color: #333333;
    transition: all cubic-bezier(.27,.72,.77,.56) 0.5s;   
}

button:disabled {
    opacity: 0.8;
    transform: scale(0.8);
    cursor: not-allowed;
    transition: all cubic-bezier(.27,.72,.77,.56) 0.5s;
}

button:disabled:hover {
    transform: scale(0.8) !important;   
    transition: all cubic-bezier(.27,.72,.77,.56) 0.5s; 
}

button:hover {
    transform: scale(1.05);
}

button:focus {
    outline: none;
    border: none;
}

.product{
    border-radius: 1rem;
    width: 250px;
    height: auto;
    margin: 1rem;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
}   

.product img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0;
    margin: 0; 
    display: block;
    image-rendering: auto;
}

.product-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}

.product-actions button {
    width: 100px;
    height: 30px;
    gap: 5px;   
}

.product-actions button:hover {
    transform: scale(1.05);
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
}

.productInfo h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #36454F;
    margin: 0;
}

.productInfo small {
    font-size: 1.1rem;
    font-weight: bold;
    color: #388e3c;
}

.product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .product {
    width: 95vw;
    margin: 0.5rem auto;
    }
    .product img {
    height: 150px;
    }
    .product-actions {
    flex-direction: column;
    gap: 0.5rem;
    }
}
