.QuantityPicker {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.QuantityPicker button {
    width: 30px;
    height: 30px;
}

@media (max-width: 600px) {
    .QuantityPicker label {
    font-size: 1rem;
    }
    .QuantityPicker button {
    width: 25px;
    height: 25px;
    font-size: 1rem;
    }
}